{% extends 'admin_home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<p style="visibility: hidden;">
  Basic form layout
</p>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Buyers List</h4>
      {% comment %} <p class="card-description">
        Add class <code>.table-striped</code>
      </p> {% endcomment %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Sl No
              </th>
              <th>
                Name
              </th>
              <th>
                Address
              </th>
              <th>
                Phone Number
              </th>
              <th>
                Email
              </th>
            </tr>
          </thead>
          <tbody>
            {% for i in buyers %}
            <tr>
              <td>
                {{ forloop.counter }}
              </td>
              <td>
                {{ i.name }}
              </td>
              <td>
                {{ i.address }}
              </td>
              <td>
                {{ i.phone_number }}
              </td>
              <td>
                {{ i.email }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

  
  {% endblock %}