{% extends 'buyer_home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<p style="visibility: hidden;">
  Basic form layout
</p>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Chatroom</h4>
      {% comment %} <p class="card-description">
        Add class <code>.table-striped</code>
      </p> {% endcomment %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Sl No
              </th>
              <th>
                Seller
              </th>
              <th>
                
              </th>
            </tr>
          </thead>
          <tbody>
            {% for i in messages %}
            <tr>
              <td>
                {{ forloop.counter }}
              </td>
              <td>
                {{ i.name }}
              </td>
              <td>
                <button type="button" class="btn btn-light btn-rounded btn-fw"><a href="{% url 'view_messages_for_buyer' i.user.id %}" >Chat</a></button>
              </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  
  {% endblock %}