{% extends 'home_layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card" style="width: 50%; margin: auto;">
    <div class="card-body">
      <p style="visibility: hidden;">
        Basic form layout
      </p>
      <p style="visibility: hidden;">
        Basic form layout
      </p>
      <p style="visibility: hidden;">
        Basic form layout
      </p>
      <h4 class="card-title">Login here.</h4>

      <form class="forms-sample" method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{ login_form|crispy }}
          {{ seller_form|crispy }}
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-light">Cancel</button>
      </form>


      
    </div>
  </div>

  
  {% endblock %}